<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/media/css/style.min.css">
    <link rel="stylesheet" href="/media/bootstrap-5.3.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Análise Integrada</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand mr-0 w-50" href="/index.html"><img class="logo" src="/media/img/logo_governo_horizontal_dark.svg"
                    alt="Logo governo"></a>
            <button class="navbar-toggler h-50 my-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar_mobile" aria-controls="navbar_mobile" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar_mobile">
                <hr>
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="px-3">
                        <a class="edube-link" aria-current="page" href="/index.html">Apresentação</a>
                    </li>
                    <li class="px-3">
                        <a class="edube-link active" href="/index.html#acoes">Ações</a>
                    </li>
                    <li class="px-3">
                        <a class="edube-link" href="/template/analise_integrada.html">Análise Integrada</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bg-third">
        <div class="container">
            <div class="row mx-0">
                <div class="col-md-6 col-sm-12 py-5 my-auto">
                    <span>Ação</span><br>
                    <p class="acao-number">01</p>
                    <span class="font-subtitle"><b>Declaração de situação de emergência no Município de São Paulo</b></span>
                    <p class="text-justify">Entenda a análise detalhada da declaração de situação de emergência em são paulo e seus pontos críticos.</p>
                </div>
                <div class="col-md-6 col-sm-12 px-0 overflow-hidden">
                    <img src="/media/img/formas-4.svg" alt="" class="w-lg-75 h-100 d-md-block d-sm-hidden ml-auto object-fit-cover">
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="title-pin bg-third">
            <h4 class="px-3 my-auto">Análise Documental:</h4>
        </div>
        <div class="pb-3">
            <h4><b>Foco:</b></h4>
            <hr class="line-topico">
            <p>O decreto nº 59.283/20202.</p>
        </div>
        <div class="pb-3">
            <h4><b>Descrição:</b></h4>
            <hr class="line-topico">
            <p>A ação foi direcionada e deliberada, buscando regularizar as ações e estratégias de enfrentamento à pandemia, garantindo continuidade de serviços e proteção aos servidores e população.</p>
        </div>
        <div class="pb-3">
            <h4><b>Conclusão</b></h4>
            <hr class="line-topico">
            <p>O documento legal é muito claro em estabelecer as diretrizes para o enfrentamento da pandemia, incluindo a necessidade de regulamentação das ações públicas, atribuindo responsabilidades para os órgãos correspondentes e assegurando que os serviços educacionais sejam mantidos por meio de aulas remotas, provisionamento de materiais de higiene e segurança, capacitação de professores, suspensão das aulas presenciais e implementação de aulas remotas.</p>
        </div>
        <div class="title-pin bg-third">
            <h4 class="px-3 my-auto">Análise de Questionários:</h4>
        </div>
        <div class="pb-3">
            <h4><b>Foco:</b></h4>
            <hr class="line-topico">
            <p>O decreto nº 59.283/20202.</p>
        </div>
        <div class="pb-3">
            <h4><b>Descrição:</b></h4>
            <hr class="line-topico">
            <p>O documento legal é muito claro em estabelecer as diretrizes para o enfrentamento da pandemia, incluindo a necessidade de regulamentação das ações públicas, atribuindo responsabilidades para os órgãos correspondentes e assegurando que os serviços educacionais sejam mantidos por meio de aulas remotas, provisionamento de materiais de higiene e segurança, capacitação de professores, suspensão das aulas presenciais e implementação de aulas remotas.</p>
        </div>
        <div class="pb-3">
            <h4><b>Conclusão</b></h4>
            <hr class="line-topico">
            <p>A percepção quantitativa foi extremamente positiva e consistente, indicando que a ação foi considerada fundamental e crucial durante a pandemia. O entendimento é de que sem essa ação as demais também não poderiam ocorrer.</p>
        </div>
        <div class="pb-3">
            <img src="/media/img/grafico_03.png" alt="" class="w-75 d-block mx-auto">
        </div>
        <div class="title-pin bg-third">
            <h4 class="px-3 my-auto">Análise das Entrevistas:</h4>
        </div>
        <div class="pb-3">
            <h4><b>Foco:</b></h4>
            <hr class="line-topico">
            <p>Percepção e relevância da ação entre os servidores e gestores escolares.</p>
        </div>
        <div class="pb-3">
            <h4><b>Descrição:</b></h4>
            <hr class="line-topico">
            <p>Embora o decreto tenha sido pouco mencionado especificamente nas entrevistas, é interpretado como uma fundação sobre a qual outras ações foram construídas. Parece ser considerado um dado ou uma ação óbvia, apesar do reconhecimento de sua importância, e os entrevistados focaram mais nas ações específicas que foram possíveis por causa deste decreto.</p>
        </div>
        <div class="pb-3">
            <h4><b>Conclusão</b></h4>
            <hr class="line-topico">
            <p>A ação pode não ter sido frequentemente citada nas entrevistas, mas é claramente entendida como fundamental e como base para outras ações específicas relacionadas à SME-SP.</p>
        </div>
        <div class="title-pin bg-third">
            <h4 class="px-3 my-auto">Análise Integrada:</h4>
        </div>
        <div class="pb-3">
            <h4><b>Compreensão Geral:</b></h4>
            <hr class="line-topico">
            <p>A Declaração de situação de emergência foi uma fundação crítica para as ações subsequentes da SME-SP.</p>
        </div>
        <div class="pb-3">
            <h4><b>Convergências:</b></h4>
            <hr class="line-topico">
            <p>Tanto a análise documental quanto a análise do questionário mostram a importância e o impacto significativo do decreto. A análise documental demonstrou a abrangência e o alcance do decreto, enquanto a
                análise do questionário revelou que essa ação foi percebida como tendo um impacto muito alto.</p>
        </div>
        <div class="pb-3">
            <h4><b>Divergências:</b></h4>
            <hr class="line-topico">
            <p>Nas entrevistas, a ação foi menos mencionada diretamente. No entanto, isso pode ser interpretado como um sinal de sua fundamental importância, pois foi a base para discussões sobre ações subsequentes.</p>
        </div>
        <div class="pb-3">
            <h4><b>Conclusão Integrada:</b></h4>
            <hr class="line-topico">
            <p>A Declaração de situação de emergência no Município de São Paulo é uma medida-chave que permitiu a implementação e execução de várias outras ações de enfrentamento da pandemia. Embora sua menção
                direta tenha sido limitada nas entrevistas, seu impacto é claramente reconhecido e entendido como essencial.</p>
        </div>
    </div>

    <div class="container">
        <div class="px-sm-1">
            <h2 class="text-first"><b>Ações</b></h2>
            <small>Veja mais ações relacionadas.</small>
        </div>

        <div class="row px-sm-1">
            <div class="col-md-4 col-sm-12 mt-5">
                <a href="/template/analise_integrada.html" class="link-simple">
                    <div class="card-conteudo blur color-third">
                        <div class="conteudo-aba"></div>
                        <div class="conteudo-body">
                            <div>
                                <span class="conteudo-title">
                                    Análise Integrada
                                </span>
                                <span class="conteudo-text">
                                    Descubra insights educacionais valiosos em nossa análise integrada de dados! Explore
                                    o futuro da educação
                                </span>
                            </div>
                            <div class="mx-auto mt-3">
                                <button class="edube-btn">Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <a href="/template/analise_integrada.html" class="link-simple">
                    <div class="card-conteudo blur color-second-light">
                        <div class="conteudo-aba"></div>
                        <div class="conteudo-body">
                            <div>
                                <span class="conteudo-title">
                                    Análise Integrada
                                </span>
                                <span class="conteudo-text">
                                    Descubra insights educacionais valiosos em nossa análise integrada de dados! Explore
                                    o futuro da educação
                                </span>
                            </div>
                            <div class="mx-auto mt-3">
                                <button class="edube-btn">Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <a href="/template/analise_integrada.html" class="link-simple">
                    <div class="card-conteudo blur color-aux">
                        <div class="conteudo-aba"></div>
                        <div class="conteudo-body">
                            <div>
                                <span class="conteudo-title">
                                    Análise Integrada
                                </span>
                                <span class="conteudo-text">
                                    Descubra insights educacionais valiosos em nossa análise integrada de dados! Explore
                                    o futuro da educação
                                </span>
                            </div>
                            <div class="mx-auto mt-3">
                                <button class="edube-btn">Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <a href="#"><img class="w-25 d-block mx-sm-center" src="/media/img/logo_governo_vertical_light.svg"
                            alt="Logo governo"></a>
                    <p class="w-75 text-justify text-light pt-4 mx-sm-center">Nossa plataforma fornece análises
                        abrangentes para moldar um futuro educacional mais resiliente, colocando a educação no centro de
                        nosso trabalho e valorizando a transparência, o impacto positivo e a resiliência.</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="d-md-flex flex-wrap justify-content-between">
                        <a href="/index.html" class="link-footer link-simple text-light mx-2">Apresentação</a>
                        <a href="/index.html#acoes" class="link-footer link-simple text-light mx-2">Ações</a>
                        <a href="/template/analise_integrada.html" class="link-footer link-simple text-light mx-2">Análise Integrada</a>
                        <a href="#" class="link-footer link-simple text-light mx-2">Saiba mais</a>
                    </div>
                    <img class="pt-5 w-75 d-block ml-auto mx-sm-center" src="/media/img/formas.svg" alt="">
                </div>
            </div>
            <hr class="text-light">
        </div>
    </footer>
    <script type="text/javascript" src="/media/bootstrap-5.3.2/js/bootstrap.min.js"></script>
</body>

</html>