<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../media/css/style.min.css">
    <link rel="stylesheet" href="../media/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Análise Integrada</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand mr-0 w-50" href="../index.html"><img class="logo" src="../media/img/logo_governo_horizontal_dark.svg"
                    alt="Logo governo"></a>
            <button class="navbar-toggler h-50 my-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar_mobile" aria-controls="navbar_mobile" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar_mobile">
                <hr>
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="px-3">
                        <a class="edube-link" aria-current="page" href="index.html">Apresentação</a>
                    </li>
                    <li class="px-3">
                        <a class="edube-link" href="./index.html#acoes">Ações</a>
                    </li>
                    <li class="px-3">
                        <a class="edube-link active" href="./analise_integrada.html">Análise Integrada</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="banner">
        <div class="container">
            <div class="row mx-0">
                <div class="col-md-6 col-sm-12 py-5 text-light my-auto">
                    <b class="font-big-title">Análise Integrada</b>
                    <p class="w-lg-50 w-sm-100 text-justify pt-3">Entenda a análise integrada realizada nesse estudo
                        baseado em evidências</p>
                </div>
                <div class="col-md-6 col-sm-12 px-0">
                    <img src="../media/img/formas-2.svg" alt="" class="w-50 h-100 d-md-block d-sm-hidden ml-auto">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row px-sm-1">
            <div class="col-md-6 col-sm-12">
                <small>Clique no gráfico para interagir</small>
                <div class="my-2 rounded-5 blur">
                    <img class="w-100 rounded-4" src="../media/img/grafico_02.png" alt="">
                </div>
                <small>Gráfico 1: Estudantes retidos por falta em 2020 comparado ao total de matriculados na Rede
                    Municipal.</small>
            </div>
            <div class="col-md-6 col-sm-12 p-3 my-auto">
                <h4><b>Uma primeira questão:<br>
                        Retenção por falta em 2020</b></h4>
                <p class="text-justify pt-3">Uma primeira questão que motivou a criação deste estudo foi a identificação
                    de alunos que ficaram retidos por falta em 2020 apesar de regulamentações em contrário e das
                    diversas estratégias adotadas pela Rede Municipal de Educação para evitar esse problema. A análise
                    combinada de questionários, entrevistas, dados quantitativos e a análise documental das ações da
                    Secretaria Municipal de Educação de São Paulo evidenciou diversos pontos. Primeiramente, em relação
                    às retenções por falta no município de São Paulo em 2020, constatou-se que, apesar do número ser
                    baixo (0,28%) quando comparado ao total de estudantes matriculados na rede, este fato representou um
                    desafio, uma vez que cada estudante importa e deve ter seu direito à educação garantido. O contexto
                    adverso gerado pela pandemia da COVID-19 certamente contribuiu para as dificuldades encontradas, no
                    entanto, o cenário poderia ter sido ainda mais crítico sem as medidas adotadas pela Secretaria.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="title-pin bg-first">
            <h4 class="text-light px-3 my-auto">Contexto Adverso da COVID-19</h4>
        </div>
        <div>
            <img src="../media/img/grafico_03.png" alt="" class="d-block mx-auto w-75 p-3">
            <small class="d-block text-center">Figura 1: Pandemia de COVID-19 impactando a educação.</small>
        </div>
    </div>
    <div class="container mt-5">
        <div class="title-pin bg-first">
            <h4 class="text-light px-3 my-auto">Esforços para Evitar a Retenção</h4>
        </div>
        <div class="topic-list">
            <h5 class="circle-list"><span>Análise de Entrevistas e Questionários:</span></h5>
            <p>As retenções por falta foram uma medida extrema após tentativas de contato com as famílias.</p>
            <h5 class="circle-list">
                <span>Engajamento e Contato com Famílias</span></h5>
            <p>As escolas priorizaram o contato para garantir o acesso, permanência e aprendizagem.</p>
            <h5 class="circle-list">
                <span>Reclassificação de Estudantes</span></h5>
            <p>Muitas crianças foram reclassificadas quando possível.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="title-pin bg-first">
            <h4 class="text-light px-3 my-auto">Critérios para Retenção</h4>
        </div>
        <div>
            <img src="../media/img/grafico_04.png" alt="" class="d-block mx-auto w-75 p-3">
            <small class="d-block text-center">Figura 1: Pandemia de COVID-19 impactando a educação.</small>
        </div>
    </div>

    <div class="container mt-5">
        <div class="title-pin bg-first">
            <h4 class="text-light px-3 my-auto">Estratégias de Busca Ativa</h4>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="topic-list w-100">
                    <h5 class="circle-list"><span>Análise de Entrevistas e Questionários:</span></h5>
                    <p>As retenções por falta foram uma medida extrema após tentativas de contato com as famílias.</p>
                    <h5 class="circle-list">
                        <span>Engajamento e Contato com Famílias</span></h5>
                    <p>As escolas priorizaram o contato para garantir o acesso, permanência e aprendizagem.</p>
                    <h5 class="circle-list">
                        <span>Reclassificação de Estudantes</span></h5>
                    <p>Muitas crianças foram reclassificadas quando possível.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="../media/img/grafico_04.png" alt="" class="d-block mx-auto w-100 p-3">
                <small class="d-block text-center">Figura 1: Pandemia de COVID-19 impactando a educação.</small>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="title-pin bg-first">
            <h4 class="text-light px-3 my-auto">Outras Estratégias Implementadas</h4>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card-info bg-second-light">
                    <p>Divulgação de Conteúdos de Prevenção: Violência doméstica, física e psicológica.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card-info bg-third">
                    <p>Plantões de Vídeo-Chamadas: Oferecer acolhimento a estudantes e familiares.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card-info bg-aux">
                    <p>Planilha de Alunos Faltosos: Elaboração e manutenção.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card-info bg-first-light">
                    <p>Contratação de Psicólogos: Para apoio emocional e pedagógico.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card-info bg-second">
                    <p>Divulgação de Benefícios: Através da imprensa, TV, YouTube e veículos de comunicação informais.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card-info bg-second-light">
                    <p>Informações sobre Distribuição: Benefícios e avisos escolares divulgados em postes próximos às
                        escolas.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="title-pin bg-first">
            <h4 class="text-light px-3 my-auto">Conclusão</h4>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 d-block my-auto">
                <p>A retenção por falta em 2020 apresentou desafios, mas a Rede Municipal de Educação de São Paulo tomou
                    várias medidas para minimizar os impactos. Estas estratégias mostram o comprometimento em garantir o
                    direito à educação para todos os alunos.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="../media/img/formas-3.svg" alt="" class="d-block mx-auto w-50 p-3">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="px-sm-1">
            <h2 class="text-first"><b>Conteúdo relacionado</b></h2>
            <small>Veja mais sobre nossa plataforma</small>
        </div>

        <div class="row px-sm-1">
            <div class="col-md-4 col-sm-12 mt-5">
                <a href="./analise_integrada.html" class="link-simple">
                    <div class="card-conteudo blur color-third">
                        <div class="conteudo-aba"></div>
                        <div class="conteudo-body">
                            <div>
                                <span class="conteudo-title">
                                    Análise Integrada
                                </span>
                                <span class="conteudo-text">
                                    Descubra insights educacionais valiosos em nossa análise integrada de dados! Explore
                                    o futuro da educação
                                </span>
                            </div>
                            <div class="mx-auto mt-3">
                                <button class="edube-btn">Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <a href="./analise_integrada.html" class="link-simple">
                    <div class="card-conteudo blur color-second-light">
                        <div class="conteudo-aba"></div>
                        <div class="conteudo-body">
                            <div>
                                <span class="conteudo-title">
                                    Análise Integrada
                                </span>
                                <span class="conteudo-text">
                                    Descubra insights educacionais valiosos em nossa análise integrada de dados! Explore
                                    o futuro da educação
                                </span>
                            </div>
                            <div class="mx-auto mt-3">
                                <button class="edube-btn">Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <a href="./analise_integrada.html" class="link-simple">
                    <div class="card-conteudo blur color-aux">
                        <div class="conteudo-aba"></div>
                        <div class="conteudo-body">
                            <div>
                                <span class="conteudo-title">
                                    Análise Integrada
                                </span>
                                <span class="conteudo-text">
                                    Descubra insights educacionais valiosos em nossa análise integrada de dados! Explore
                                    o futuro da educação
                                </span>
                            </div>
                            <div class="mx-auto mt-3">
                                <button class="edube-btn">Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <a href="#"><img class="w-25 d-block mx-sm-center" src="../media/img/logo_governo_vertical_light.svg"
                            alt="Logo governo"></a>
                    <p class="w-75 text-justify text-light pt-4 mx-sm-center">Nossa plataforma fornece análises
                        abrangentes para moldar um futuro educacional mais resiliente, colocando a educação no centro de
                        nosso trabalho e valorizando a transparência, o impacto positivo e a resiliência.</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="d-md-flex flex-wrap justify-content-between">
                        <a href="./index.html" class="link-footer link-simple text-light mx-2">Apresentação</a>
                        <a href="./index.html#acoes" class="link-footer link-simple text-light mx-2">Ações</a>
                        <a href="./analise_integrada.html" class="link-footer link-simple text-light mx-2">Análise Integrada</a>
                        <a href="#" class="link-footer link-simple text-light mx-2">Saiba mais</a>
                    </div>
                    <img class="pt-5 w-75 d-block ml-auto mx-sm-center" src="../media/img/formas.svg" alt="">
                </div>
            </div>
            <hr class="text-light">
        </div>
    </footer>
    <script type="text/javascript" src="../media/js/bootstrap.min.js"></script>
</body>

</html>